body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label,
input,
select,
textarea {
    display: block;
    margin-bottom: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.contact-info,
.social-media,
.opening-hours {
    margin-bottom: 20px;
}

.contact-info h2,
.social-media h2,
.opening-hours h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
}

.social-media a:last-child {
    margin-right: 0;
}


nav {
    display: flex;
    justify-content: flex-end;
    background-color: #444;
    padding: 10px;
}

nav img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.contact-info {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-info h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-info p {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-info p:last-child {
    margin-bottom: 0;
}
